Demo/AsyncTestWait.xcodeproj/xcuserdata/
Demo/AsyncTestWait.xcodeproj/project.xcworkspace/xcuserdata/
UserInterfaceState.xcuserstate*

/Demo/AsyncTestWait.xcodeproj/xcuserdata/hfossli.xcuserdatad/xcschemes/AsyncTestWait.xcscheme
